    body {
        display: flex;
    }
    
    header {
        display: flexbox;
        align-items: center;
        margin-left: 15px;
        padding: auto;
    }
    
    nav {
        padding: 40px;
    }
    
    main {
        margin-top: 20px;
        margin-left: 250px;
    }